<head>
    <title>Bonafide</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
</head>

<body>
  {{> movie}}
  {{> outfit}}
</body>

<template name="outfit">
  <div class="container">
    <img class="z-depth-3 " src="usa-girl.jpg" />
    <img class="z-depth-3 " src="redbootgirl.jpg" />
  </div>
  <div class="hover07">
      <div>
          <figure>
            <img src="clothes.jpg" class="z-depth-5 hideme" />
            <span class="text-content"><span>Jimi Hendrix</span></span>
          </figure>
      </div>
   </div>
</template>

<template name="iphone">
  <img class="iphone" src="iphone-white.png">
</template>

<template name="movie">
  <div class="container-video">
  <div class="table-center">
    <div>
      <h1>Jessica Alba</h1>
    </div>
  </div>
  <video  id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
    <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/ladybug_ladybird-SD.mp4" type="video/mp4">
    <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/ladybug_ladybird-SD.webm" type="video/webm">
  </video>
</div>
</template>
