/* CSS declarations go here */

/* //// Blur for template outfit //////*/
.hover07 figure img {
	-webkit-filter: blur(0);
	filter: blur(0);
	width: 550px;
	height: 595px;
	padding: 20px 20px 40px;
	position: absolute;
	transition: .5s ease-out;
	margin-top: 130px;
}
.hover07 figure:hover img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .5s ease-in-out;
}

.hover07 {
	margin: -4px 700px;
}

span.text-content {
  left: 0;
  position: absolute;
  top: 0;
	font-size: 30px;
	margin: 939px 860px 0;
	font-family: 'Courgette', cursive;
}

span.text-content {
  color: #c62828;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
	transition: .5s ease-out;
}

.hover07 figure:hover span.text-content {
  opacity: 1;
	transition: .5s ease-in-out;
}

/**************iphone Template********************/

.iphone {
	bottom: 50%;
	left: 50%;
	margin-right: -50%;
	position: absolute;
	transform: translate(-50%, 50%);
	z-index: -1;
	height: 1040px;
	width: 1040px;
}
