

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  &:hover img {
    &:nth-of-type(2) {
     opacity: 1;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 595px;
    margin-left: 50px; // <-- Change to your liking
    margin-top: 10px;
    padding: 20px 20px 40px;
    transition: opacity 1s ease-in-out 0s;
    margin-top: 850px;
    margin-bottom: 30px;

    &:nth-of-type(1) {
      opacity: 1;
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
  }
}


/******************Movie template***********************/

.container-video {
  position: relative;
  height: 710px;
  overflow: hidden;
  opacity: 0.01;
  animation: load 1.5s 0.8s ease-out forwards;
  #video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(1.05); // Centered and scaled to prevent the appearance of the edges of video.
  }
}


@keyframes load {
  100% {
    opacity: 1;
  }
}

.table-center {
  display: table;
  width: 100%;
  position: relative;
  height: 100%;
  > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    h1 {
      color: #fff;
      text-shadow: 0 0px 5px rgba(0,0,0,0.5);
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 10px;
      font-size: 4vw;
    }
  }
}
